body{ 
    font-family: arial, sans-serif;
    padding: 2em;
    color: blanchedalmond;
    background-color: lemonchiffon;
}
nav{
    font-weight: bold;
    color: azure;
    border: 5px solid beige;
    text-align: center;
    width: 10em;
    background-color: gainsboro;
}
nav ul{
    top: 5em;
    left: 5em;
    width: 15em;
    position: absolute;
}
nav:hover ul{
    display: block;
}
nav ul li{
    background: fixed;
    margin: 10em;
    width: 10em;
    position: absolute;
    border-top: 2px solid beige;
    width: 10em;
    color: black;
}
nav ul li:hover{
    background-color: lightgoldenrodyellow;
}
a{
    text-decoration: none;
}