body{ 
    font-family: arial, sans-serif;
    padding: 2px;
    color: blanchedalmond;
    background-color: lemonchiffon;
}
nav{
    font-weight: bold;
    color: azure;
    border: 5px solid beige;
    text-align: center;
    width: 10px;
    background-color: gainsboro;
}
nav ul{
    top: 5px;
    left: 5px;
    width: 15px;
    position: relative;
    margin: 0;
    padding: 0;
}
nav:hover ul{
    display: block;
}
nav ul li{
    background: fixed;
    margin: 10px;
    width: 10px;
    position: relative;
    border-top: 2px solid beige;
    width: 10px;
    color: black;
}
nav ul li:hover{
    background-color: lightgoldenrodyellow;
}
a{
    text-decoration: none;
}